*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#07111f;
color:white;
overflow-x:hidden;
}

/* Loading */

#loader{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#000;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
transition:.8s;
}

#loader h1{
font-size:60px;
color:gold;
animation:pulse 1.5s infinite;
}

@keyframes pulse{
50%{transform:scale(1.1);}
}

/* Header */

.header{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 8%;
background:rgba(0,0,0,.6);
backdrop-filter:blur(12px);
border-bottom:2px solid gold;
z-index:1000;
}

.logo{
font-size:28px;
font-weight:bold;
color:gold;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:gold;
}

/* Hero */

.hero{
position:relative;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text
